.button{
    background-color: #101010;
    color: blanchedalmond;
    border:solid 2px #ffffff;
    border-radius: 7px;
    border: 7px;
  }
  .button:hover{
    background-color:lavender;
    color: #252525;
  }