.button {

    color: rgb(36, 9, 47); 
    border: 10px solid #0a0707; 
    border-radius: 20px; 
    transition-duration: 0.4s;
    font-size: 40px;
    padding: 0px 0px; }


.button:hover {

    color: rgb(9, 2, 2);
    font-size: 60px;
    }


.titleLabel {
    color: rgb(5, 4, 78); 
    font-size: 150px;
    padding: 15px 32px; 
    animation-name: example;
    animation-duration: 10s;
}

.titleLabel {
    color: rgb(120, 20, 192); 
    font-size: 150px;
    padding: 15px 32px; 
    animation-name: titleAnimation;
    animation-duration: 10s;
}

@keyframes titleAnimation {
  0%   {color: red;}
  12%   {color: orange;}
  25%  {color: rgb(21, 255, 0);}
  37%  {color: rgb(0, 255, 174);}
  50%  {color: rgb(0, 64, 255);}
  62%  {color: rgb(191, 0, 255);}
  75%  {color: rgb(255, 0, 251);}
  87%  {color: rgb(255, 0, 55);}
  100% {color: rgb(134, 27, 211);}
}

.GOtitleLabel {
    color: rgba(128, 0, 0, 0.748); 
    font-size: 150px;
    animation-name: GOtitleAnimation;
    animation-duration: 10s;
}

@keyframes GOtitleAnimation {
  from  {color: rgba(0, 0, 0, 0);}
  to {color: rgba(128, 0, 0, 0.748);}
}

.subtitleLabel {

    color: rgb(0, 0, 0); 

    transition-duration: 1s;

    font-size: 50px;
    padding: 15px 32px; }

.subtitleLabelMenu {

    color: rgb(0, 0, 0); 
    border: 10px solid #0a0707; 
    border-radius: 20px; 
    transition-duration: 1s;
    background-color: aliceblue;

    font-size: 50px;
    padding: 15px 32px; }




.mainMenuBackgroud {
    background-image: url('background.jpg'); 
}








