.button {
    background-color: #328735;
    color: rgb(36, 9, 47); 
    border: 10px solid #0a0707; 
    border-radius: 20px; 
    /* width: 250px; */
    transition-duration: 0.4s;
    font-size: 50px;
    /* border: 7px;  */
    padding: 5px 6px; }


.button:hover {
    background-color: #328735; /* Green */
    color: rgb(9, 2, 2);
    font-size: 60px;
    }


.titleLabel {
    
    color: rgb(5, 4, 78); 
    border:solid 2px #ffffff; 
    border-radius: 7px; 
    border: 7px; 
    font-size: 150px;
    padding: 15px 32px; }
    
.subtitleLabel {

    color: rgb(19, 18, 69); 
    border:solid 2px #ffffff; 
    border-radius: 7px; 
    border: 7px; 
    transition-duration: 1s;

    font-size: 100px;
    padding: 15px 32px; }
.subtitleLabel:hover {
    background-color: #054907; /* Green */
    color: rgb(126, 3, 3);
    }
    

.mainMenuBackgroud {
    
    color: red; 
    border:solid 2px #c09797; 
    border-radius: 7px; 
    border: 7px; 
    padding: 15px 32px;

}

.gameOverMenuBackgroud {
    background-image: url('Lizard-PNG-HD-Image.png'); 
    color: rgb(85, 8, 27); 
    border:solid 2px #8d0101; 
    border-radius: 7px; 
    border: 7px; 
    padding: 15px 32px;

}

.gameBoardBackgroud {
    background-image: url('Lizard-PNG-HD-Image.png'); 
    color: rgb(85, 8, 27); 
    border:solid 2px #8d0101; 
    border-radius: 7px; 
    border: 7px; 
    padding: 15px 32px;

}






